.DS_Store
*/.DS_Store
micrOMEGAs/MSSM
micrOMEGAs/NMSSM
micrOMEGAs/IDM
micrOMEGAs/STFM
micrOMEGAs/SingletDM
micrOMEGAs/Z3IDM
micrOMEGAs/Z4IDSM
micrOMEGAs/Z5M
micrOMEGAs/Z7M
micrOMEGAs/ZpPortal
micrOMEGAs/subGeVpi
micrOMEGAs/RDM
micrOMEGAs/history
micrOMEGAs/LHM
micrOMEGAs/LLL_scalar
micrOMEGAs/mdlIndep
micrOMEGAs/.date
